@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

html {
  scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}
/*  Home .html*/
body{
    height: auto;
    width: 100vw;
    background-color: rgb(20, 20, 20);
}

/* background color */
.container{
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.1) 9%, 
      transparent 9%
    );
    background-position: 10% 0%;
    background-size: 12vmin 12vmin;
   
    left: 0px;
    position: absolute;
    height: 100vh;
    top: 0px;
    transition: opacity 800ms ease, 
      background-size 800ms ease,
      background-position 800ms ease;
    width: 100vw;
    z-index: 1;
}
/* wallet image*/
.image{
  position: absolute;
  height: 30rem;
  transform: translate(280%,160%);
  
 

}

/* navigatoion tab containg home,blog etc*/
.navigation{

    position: fixed;
    display: flex;
    margin: 20px;
    animation: 3s anim-lineUp ease-out ;
    margin-left: 55rem;
    top: 0;
    
}

/* elemtn inside navigation home ,blog */
.navigation a{
  
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 10px 20px ;
    
    
}
/* scroll to next page  */
.second-page-content{
  position: absolute;
  color: white;
  font-size: 40px;
   transform: translate(120%,320%);
  line-height: 5rem;
  

}

/* size of pcn*/
span{
  font-size: 40px;
  margin-left: 10rem;
  animation: 4s anim-lineUp ease-out ;
}

/*  launch to next page button*/
#launch-button{
  font-size: 20px;
  border-radius: 30px;
 cursor: pointer;
 padding: 20px;
 background-color: aqua;
}

/* hover effect for navigation */
.navigation a:hover{
  opacity: 0.2;
  transition: 400ms ease;
}
/* hover effect for launch button */

#launch-button:hover{
  
    transition: opacity 400ms  ;
    opacity: 1;
   
    
}
/* download button*/
#download-button{
  position: relative;

    font-size: 20px;
    padding: 20px;
     border-spacing: 50px;
    border-radius:30px ;
    cursor: pointer;
    background-color: aqua;
   animation: 6s anim-lineUp ease-out ;
 

}

/* download to chrome button*/
#chrome-button{
  position: absolute;
  font-size: 20px;
    padding: 20px;
     border-spacing: 50px;
    border-radius:30px ;
   margin-left: 10rem;
   cursor: pointer;
   background-color: aqua;
   animation: 6s anim-lineUp ease-out ;
   }



/* container for chrome and navigatopmn */
.button-container{
  
 inset: 0;
 transform: translateY(360%);
 margin-left: 10rem;


}

.scroll{
  
  color: white;
  font-size: 30px;
  display: grid;
  justify-content: center;
  transform: translateY(25rem);
  animation: 4s anim-lineUp ease-out ;
 
  
}
/*content of the site */
.text{
    
    
    color: white;
    font-size: 30px;
    transform: translateY(140%);
    transition: ease 400ms;
    margin-left: 4rem;
    
  }
  /* content position*/
  .section-container{
    display: grid;
    justify-content: center;
  }
  /* content animation*/
  .text-line {
      animation: 4s anim-lineUp ease-out ;
  }

/* animation to site*/
  @keyframes anim-lineUp  {
    0% {
      opacity: 0;
      transform: translateY(80%);
      
    }
    20% {
      opacity: 0;
      display: none;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
      
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
      
    }
    
  }




/*  Developor.html*/


.developor-content{
  
  animation: 4s anim-lineUp ease-out;
  height: 20vh;
  width: 60vw;
  background-image: url(Images/images2.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 20px ;
  border: none;
     margin-left: 250px;
     margin-top: 10%;

 


}
.payment{
  position: relative;
  color: white;
  font-size: 20px;
  margin-left: 14rem;
  margin-top: 12rem;
      

}
.payment-sub{
  position: absolute;
  color: white;
  font-size: 15px;
 margin-top: 2rem;
  margin-left: 15rem;

}
.define-content{
  position: absolute;
  animation: 4s anim-lineUp ease-out;
  height: 20vh;
  width: 30vw;
  background-color: grey;
  border-radius: 20px ;
  border: none;
  margin-left: 250px; 
  margin-top: 20px;
 
  
}
.definition{
  color: black;
  margin-left: 20px;
}

.definition-sub{
  margin-left: 13px;
  color: black;
  font-size: 15px;
}
.documentation{
 position: absolute;
  animation: 4s anim-lineUp ease-out;
  height: 20vh;
  width: 30vw;
  background-color: grey;
  border-radius: 20px ;
  border: none;
  margin-left: 30rem;
  bottom: 2%;
}
.git{
  display: grid;
  justify-content: center;
  margin-top: 10%;
  text-decoration: none;
  color: black;
  opacity: 1;
}
.documentation:hover{
  opacity: 0.2;
  transition: opacity 400ms;
}
